.main_container {
  padding: 1.875rem;
}

.main_container_title {
  text-align: center;
  font-size: 1.5rem;
 
}

.main_container_subsection {
  padding: 5px;
}

.vant_title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
}
.label{
  font-size: 1.2rem;
  line-height: 2.5rem;
}
.label_container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 0 30px 0;
}
.label_text{
  font-size: 0.9rem;
}
.image{
  border-radius: 40px;
}

@media screen and (min-width: 768px) {
  .main_container_title {
    font-size: 1.875rem;
    
  }
  .main_container_subsection {
    padding: 50px ;
  }
  .label{
    font-size: 1.5rem;
    line-height: 3rem;
  }
  .label_text{
    font-size: 1rem;
  }
  
}

@media screen and (min-width: 1024px) {
  .main_container_title {
    font-size: 2.5rem;
    
  }
  .main_container_subsection {
    padding: 50px 100px 100px 100px;
  }
  .label_text{
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1280px) {
  .main_container_title {
    font-size: 2.5rem;
   
  }
  .main_container_subsection {
    padding: 70px 150px 150px 150px;
  }
  .label_text{
    font-size: 1rem;
  }
}
